@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.App {
  /* background-color: #001f3e; */
  height: 100%;
  width: 90%;
  position: fixed;
  padding: 5%;
  font-family: 'Noto Sans JP', sans-serif;
}

.heading {
  transform: translateX(-100%);
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
}

.stack {
  padding: 2%;
  max-width: 50%;
  margin-bottom: 3%;
  justify-content: center;
}
